<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:redis="http://www.springframework.org/schema/redis"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
    http://www.springframework.org/schema/redis
    http://www.springframework.org/schema/redis/spring-redis.xsd">

	<bean class="com.puyixiaowo.tnews.common.utils.RedisUtils"></bean>

	<!-- jedis 配置 -->
	<bean id="poolConfig" class="redis.clients.jedis.JedisPoolConfig">
		<property name="maxIdle" value="${redis.maxIdle}" />
		<property name="maxWaitMillis" value="${redis.maxWait}" />
		<property name="testOnBorrow" value="${redis.testOnBorrow}" />
	</bean>
	<!-- redis服务器中心 -->
	<bean id="connectionFactory"
		class="org.springframework.data.redis.connection.jedis.JedisConnectionFactory">
		<property name="poolConfig" ref="poolConfig" />
		<property name="port" value="${redis.port}" />
		<property name="hostName" value="${redis.host}" />
		<property name="password" value="${redis.password}" />
		<property name="timeout" value="${redis.timeout}"></property>
	</bean>
	<bean id="redisTemplate" class="org.springframework.data.redis.core.RedisTemplate">
		<property name="connectionFactory" ref="connectionFactory" />
		<property name="keySerializer">
			<bean
				class="org.springframework.data.redis.serializer.StringRedisSerializer" />
		</property>
		<property name="valueSerializer">
			<bean
				class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer" />
		</property>
	</bean>

	<!--以下是mq配置-->
	<!-- redis发布订阅配置 -->
	<bean id="serialization"
		  class="org.springframework.data.redis.serializer.JdkSerializationRedisSerializer" />

	<bean id="tQMessageDelegateListener" class="com.puyixiaowo.tnews.news.core.redis.TQMessageDelegateListener" />

	<!-- 消息监听适配器 delegate属性指定真正的目标处理器 -->
	<bean id="smsMessageListener"
		  class="org.springframework.data.redis.listener.adapter.MessageListenerAdapter">
		<property name="delegate" ref="tQMessageDelegateListener" />
		<property name="serializer" ref="serialization" />
	</bean>

	<!-- 消息监听适配器对应的监听容器 -->
	<redis:listener-container connection-factory="connectionFactory">
		<redis:listener ref="smsMessageListener" method="handleMessage"
						topic="tnews:news" />
	</redis:listener-container>
	<!--以上是mq配置-->

</beans>